build/*
src/*.pyc
.idea/*
tmp_img
.idea
.idea/workspace.xml
.idea/misc.xml

*.nib
*.swp
*.pyc
*.df
app_info2.df
**/app_info2.df
**/.idea

.tmp_*
.svn/*
.project
.pydevproject
.settings
.settings/*

# Exclude OS X folder attributes
.DS_Store

# Exclude user-specific XCode 3 and 4 files
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata


Min/3clustering/.ipynb_checkpoints/Module_top500rate_clustering-checkpoint.ipynb

.gitignore
