<!DOCTYPE html>
<html>
<!-- Use the Source, Luke -->
<head>






    <title>visualization</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">

    <!--<script src="app/js/CodeFlower.js"></script>-->
    <!--<script src="app/d3/d3.js"></script>-->
</head>
<body>
        appId<p>{{appId}}</p>
        appName:<p>{{appName}}</p>
        label:<p>{{label_temp}}</p>
        <!--app:<p>{{app}}</p>-->

        <h1>Scatter Visualization</h1>
        <div>
            <img ng-src="http://soma3.buzzni.com/labels/label{{label_temp.label}}_0.png">
            <img ng-src="http://soma3.buzzni.com/labels/label{{label_temp.label}}_1.png">
            <img ng-src="http://soma3.buzzni.com/labels/label{{label_temp.label}}_2.png">
            <img ng-src="http://soma3.buzzni.com/labels/label{{label_temp.label}}_3.png">
            <!--<img ng-src="http://soma3.buzzni.com/apps/{{appId}}/img/2.zng">-->
            <!--<img ng-src="http://soma3.buzzni.com/apps/{{appId}}/img/3.png">-->
            <!--<img ng-src="http://soma3.buzzni.com/apps/{{appId}}/img/4.png">-->
        </div>


        <!--<h1>visualization</h1>-->


        <!--<div class="content">-->
            <!--<div class="container">-->


                <!--<style type="text/css">-->
                    <!--circle.node {-->
                        <!--cursor: pointer;-->
                        <!--stroke: #000;-->
                        <!--stroke-width: .5px;-->
                    <!--}-->

                    <!--circle.node.directory {-->
                        <!--stroke: #9ecae1;-->
                        <!--stroke-width: 2px;-->
                    <!--}-->

                    <!--circle.node.collapsed {-->
                        <!--stroke: #555;-->
                    <!--}-->

                    <!--.nodetext {-->
                        <!--fill: #252929;-->
                        <!--font-weight: bold;-->
                        <!--text-shadow: 0 0 0.2em white;-->
                    <!--}-->

                    <!--line.link {-->
                        <!--fill: none;-->
                        <!--stroke: #9ecae1;-->
                        <!--stroke-width: 1.5px;-->
                    <!--}-->
                <!--</style>-->

                <!--teeeessssssttttttt: {{testCluster}}-->


                <!--<div id="cluster_visual1_1"></div>-->

                <!--<h2>Input data format</h2>-->
                <!--<form id="jsonInput">-->
                    <!--<fieldset>-->
                        <!--<textarea id="jsonData">-->


                        <!--</textarea>-->
                        <!--<div class="pull-right">-->
                            <!--<button type="submit" class="btn btn-primary btn-large">Update</button>-->
                        <!--</div>-->
                    <!--</fieldset>-->
                <!--</form>-->

                <!--&lt;!&ndash;<script type="text/javascript" src="app/d3/d3.js"></script>&ndash;&gt;-->
                <!--&lt;!&ndash;<script type="text/javascript" src="app/d3/d3.geom.js"></script>&ndash;&gt;-->
                <!--&lt;!&ndash;<script type="text/javascript" src="app/d3/d3.layout.js"></script>&ndash;&gt;-->
                <!--&lt;!&ndash;<script type="text/javascript" src="app/js/CodeFlower.js"></script>&ndash;&gt;-->
                <!--&lt;!&ndash;<script type="text/javascript" src="app/js/dataConverter.js"></script>&ndash;&gt;-->


                <!--&lt;!&ndash;<script type="text/javascript">&ndash;&gt;-->
                    <!--&lt;!&ndash;alert("zzz");&ndash;&gt;-->

                    <!--&lt;!&ndash;var currentCodeFlower;&ndash;&gt;-->
                    <!--&lt;!&ndash;var createCodeFlower = function(json) {&ndash;&gt;-->
                        <!--&lt;!&ndash;// update the jsonData textarea&ndash;&gt;-->
                        <!--&lt;!&ndash;document.getElementById('jsonData').value = JSON.stringify(json);&ndash;&gt;-->
                        <!--&lt;!&ndash;// remove previous flower to save memory&ndash;&gt;-->
                        <!--&lt;!&ndash;if (currentCodeFlower) currentCodeFlower.cleanup();&ndash;&gt;-->
                        <!--&lt;!&ndash;// adapt layout size to the total number of elements&ndash;&gt;-->
                        <!--&lt;!&ndash;var total = countElements(json);&ndash;&gt;-->
                        <!--&lt;!&ndash;w = parseInt(Math.sqrt(total) * 30, 10);&ndash;&gt;-->
                        <!--&lt;!&ndash;h = parseInt(Math.sqrt(total) * 30, 10);&ndash;&gt;-->
                        <!--&lt;!&ndash;// create a new CodeFlower&ndash;&gt;-->
                        <!--&lt;!&ndash;currentCodeFlower = new CodeFlower("#cluster_visual1_1", w, h).update(json);&ndash;&gt;-->
                    <!--&lt;!&ndash;};&ndash;&gt;-->

                    <!--&lt;!&ndash;d3.json('data.json', createCodeFlower);&ndash;&gt;-->

<!--&lt;!&ndash;//                    document.getElementById('project').addEventListener('change', function() {&ndash;&gt;-->
<!--&lt;!&ndash;//                        d3.json(this.value, createCodeFlower);&ndash;&gt;-->
<!--&lt;!&ndash;//                    });&ndash;&gt;-->
                    <!--&lt;!&ndash;document.getElementById('jsonInput').addEventListener('submit', function(e) {&ndash;&gt;-->
                        <!--&lt;!&ndash;e.preventDefault();&ndash;&gt;-->
                        <!--&lt;!&ndash;document.getElementById('cluster_visual1_1').scrollIntoView();&ndash;&gt;-->
                        <!--&lt;!&ndash;var json = JSON.parse(document.getElementById('jsonData').value);&ndash;&gt;-->
                        <!--&lt;!&ndash;currentCodeFlower.update(json);&ndash;&gt;-->
                    <!--&lt;!&ndash;});&ndash;&gt;-->
                    <!--&lt;!&ndash;document.getElementById('jsonConverter').addEventListener('submit', function(e) {&ndash;&gt;-->
                        <!--&lt;!&ndash;e.preventDefault();&ndash;&gt;-->
                        <!--&lt;!&ndash;var origin = this.children[0].children[0].value;&ndash;&gt;-->
                        <!--&lt;!&ndash;var data = this.children[0].children[1].value;&ndash;&gt;-->
                        <!--&lt;!&ndash;var json = convertToJSON(data, origin);&ndash;&gt;-->
                        <!--&lt;!&ndash;document.getElementById('cluster_visual1_1').scrollIntoView();&ndash;&gt;-->
                        <!--&lt;!&ndash;createCodeFlower(json);&ndash;&gt;-->
                    <!--&lt;!&ndash;});&ndash;&gt;-->
                <!--&lt;!&ndash;</script>&ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->



    <!--<div>-->

        <!--<style>-->

            <!--/*@import url(../style.css?aea6f0a);*/-->

            <!--#chart {-->
                <!--margin-left: -40px;-->
                <!--height: 506px;-->
            <!--}-->

            <!--.text {-->
                <!--font: 10px sans-serif;-->
            <!--}-->

            <!--.dot {-->
                <!--stroke: #000;-->
            <!--}-->

            <!--.axis path, .axis line {-->
                <!--fill: none;-->
                <!--stroke: #000;-->
                <!--shape-rendering: crispEdges;-->
            <!--}-->

            <!--.label {-->
                <!--fill: #777;-->
            <!--}-->

            <!--.year.label {-->
                <!--font: 500 196px "Helvetica Neue";-->
                <!--fill: #ddd;-->
            <!--}-->

            <!--.year.label.active {-->
                <!--fill: #aaa;-->
            <!--}-->

            <!--.overlay {-->
                <!--fill: none;-->
                <!--pointer-events: all;-->
                <!--cursor: ew-resize;-->
            <!--}-->

        <!--</style>-->


        <!--<h1>The Wealth & Health of Nations</h1>-->

        <!--<p id="chart"></p>-->

        <!--test-->
        <!--{{flowerDat}}-->
    <!--</div>-->



    <!--<div>-->
        <!--<h1> Scatter </h1>-->

        <!--<style>-->

            <!--body {-->
                <!--font: 10px sans-serif;-->
            <!--}-->

            <!--.axis path,-->
            <!--.axis line {-->
                <!--fill: none;-->
                <!--stroke: #000;-->
                <!--shape-rendering: crispEdges;-->
            <!--}-->

            <!--.dot {-->
                <!--stroke: #000;-->
            <!--}-->

        <!--</style>-->

        <!--<scatter></scatter>-->

    <!--</div>-->



</body>
</html>
